@import "tailwindcss";

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.recharts-wrapper {
  border: none !important;
  outline: none !important;
}

@layer base {
  :root {
    --color-brand: #ff8904;
    /* --color-brand: #f54a00; */
    --color-brand-hover: #f2ae55;
  }
}
